.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #fdfdfd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

/* Sidebar */
/* .sidebar {
  width: 260px;
  background: linear-gradient(180deg, #ffe6e6, #fff5f0, #fdfdfd);
  padding: 25px 20px;
  border-right: 1px solid #e6e6e6;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
} */
.sidebar {
  width: 260px;
  background: linear-gradient(180deg, #cad0dc, #c8cdd5, #b8c0cd);
  padding: 25px 20px;
  border-right: 1px solid #e6e6e6;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.sidebar-subtitle {
  font-size: 14px;
  margin-bottom: 25px;
  color: #555;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  color: #444;
  padding: 10px 14px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar-link .icon {
  font-size: 18px;
  margin-right: 10px;
  color: #3b82f6; /* nice blue for icons */
}

.sidebar-link:hover {
  background: rgba(59, 130, 246, 0.15); /* soft blue hover */
  transform: translateX(3px);
}

.sidebar-link.active {
  background: #7994ce; /* solid blue */
  color: white;
}

.sidebar-link.active .icon {
  color: white;
}


/* Main Content */
.admin-content {
  flex: 1;
  padding: 30px;
  background: #fafafa;
}
